@import "../mixins";
@import "../variables";

//main content spacing
.landingPage__main {
  padding: 1rem;
  text-align: center;
  position: relative;
  @include for-tablet-portrait-up() {
    padding: 0rem;
    width: 100%;
    margin-top: 50px;
  }
}

//landing feature
.landingPage__feature {
  display: none;
  margin-top: 4rem;
  padding-top: 1rem;
  @include for-tablet-portrait-up {
    padding: 1rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  @include for-tablet-landscape-up {
    flex-direction: row;
    padding-top: 1rem;
  }
}

.landingPage__feature--image {
  min-width: 0;
  min-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landingPage__feature--text {
  flex-basis: 90%;
  max-width: 900px;

  p {
    margin: 1.5rem;
    // padding: 0 1rem;
  }

  p:last-of-type {
    margin-bottom: 2rem;
  }

  h3 {
    color: $highlight-color;
    margin: 1.5rem;
    margin-top: 2rem;
    // padding: 0 1rem;
  }
}

//display mobile links

.landingPage__mobileLinksWrapper {
  border-radius: 2rem;
  background-color: $bg-color-main;
  margin: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  @include for-tablet-portrait-up() {
    display: none;
  }
}

.landingPage__mobileLinks {
  display: block;
  margin-bottom: 3rem;
  font-size: 1rem;
  @include for-small-phone-only() {
    margin-bottom: 2rem;
  }
  @include for-tablet-portrait-up() {
    display: none;
  }
}

.background {
  position: relative;
}

.landing__background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  overflow-y: visible;
  z-index: -1;
}

//Feature detected background image selection

//landing - classic cake image
.no-webpalpha .landing__background--classic {
  background-image: url(../images/Cakes/large/png/cake-classic-01--large.png);
}

.webpalpha .landing__background--classic {
  background-image: url(../images/Cakes/large/webp/cake-classic-01--large.webp);
}

//scale and position
.landing__background--classic {
  background-position: left -100px top 450px;
  background-size: 200px;
  @include for-tablet-portrait-up() {
    background-size: 400px;
    background-position: -200px 300px;
    display: block;
  }
  @include for-desktop-up() {
    background-size: 500px;
    background-position: -200px 300px;
  }
}

.no-webpalpha .landing__background--naked {
  background-image: url(../images/Cakes/large/png/cake-naked-01--large.png);
}

.webpalpha .landing__background--naked {
  background-image: url(../images/Cakes/large/webp/cake-naked-01--large.webp);
}

.landing__background--naked {
  background-position: right -120px top 150px;
  background-size: 200px;
  // display: none;
  @include for-tablet-portrait-up() {
    background-position: right -200px top 50px;
    background-size: 400px;
    display: block;
  }
  @include for-desktop-up() {
    background-size: 500px;
    background-position: right -300px top 60px;
  }
}

#largeClassicCake {
  position: absolute;
  left: -750px;
  top: 200px;
}

#largeNakedCake {
  position: absolute;
  right: -750px;
}
