.landingPage__main {
  padding: 1rem;
  text-align: center;
  position: relative;
}

@media (min-width: 640px) {
  .landingPage__main {
    padding: 0rem;
    width: 100%;
    margin-top: 50px;
  }
}

.landingPage__feature {
  display: none;
  margin-top: 4rem;
  padding-top: 1rem;
}

@media (min-width: 640px) {
  .landingPage__feature {
    padding: 1rem;
    padding-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 900px) {
  .landingPage__feature {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 1rem;
  }
}

.landingPage__feature--image {
  min-width: 0;
  min-height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landingPage__feature--text {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  max-width: 900px;
}

.landingPage__feature--text p {
  margin: 1.5rem;
}

.landingPage__feature--text p:last-of-type {
  margin-bottom: 2rem;
}

.landingPage__feature--text h3 {
  color: #e47b90;
  margin: 1.5rem;
  margin-top: 2rem;
}

.landingPage__mobileLinksWrapper {
  border-radius: 2rem;
  background-color: #fdfbf7;
  margin: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media (min-width: 640px) {
  .landingPage__mobileLinksWrapper {
    display: none;
  }
}

.landingPage__mobileLinks {
  display: block;
  margin-bottom: 3rem;
  font-size: 1rem;
}

@media (max-height: 640px) {
  .landingPage__mobileLinks {
    margin-bottom: 2rem;
  }
}

@media (min-width: 640px) {
  .landingPage__mobileLinks {
    display: none;
  }
}

.background {
  position: relative;
}

.landing__background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  overflow-y: visible;
  z-index: -1;
}

.no-webpalpha .landing__background--classic {
  background-image: url(../images/Cakes/large/png/cake-classic-01--large.png);
}

.webpalpha .landing__background--classic {
  background-image: url(../images/Cakes/large/webp/cake-classic-01--large.webp);
}

.landing__background--classic {
  background-position: left -100px top 450px;
  background-size: 200px;
}

@media (min-width: 640px) {
  .landing__background--classic {
    background-size: 400px;
    background-position: -200px 300px;
    display: block;
  }
}

@media (min-width: 1280px) {
  .landing__background--classic {
    background-size: 500px;
    background-position: -200px 300px;
  }
}

.no-webpalpha .landing__background--naked {
  background-image: url(../images/Cakes/large/png/cake-naked-01--large.png);
}

.webpalpha .landing__background--naked {
  background-image: url(../images/Cakes/large/webp/cake-naked-01--large.webp);
}

.landing__background--naked {
  background-position: right -120px top 150px;
  background-size: 200px;
}

@media (min-width: 640px) {
  .landing__background--naked {
    background-position: right -200px top 50px;
    background-size: 400px;
    display: block;
  }
}

@media (min-width: 1280px) {
  .landing__background--naked {
    background-size: 500px;
    background-position: right -300px top 60px;
  }
}

#largeClassicCake {
  position: absolute;
  left: -750px;
  top: 200px;
}

#largeNakedCake {
  position: absolute;
  right: -750px;
}
/*# sourceMappingURL=landingPage.css.map */