$bg-color-main: #fdfbf7;
$bg-color-blue: #e8f6ff;
$text-color-main: #494949;
$highlight-color: #e47b90;
$highlight-color-light: #ffd6df;
$highlight-shadow: (0px 3px 3px rgba(206, 105, 126, 0.2)),
  (0px 5px 15px rgba(184, 44, 73, 0.2));
$main-shadow: (0px 3px 3px rgba(0, 15, 58, 0.1)),
  (0px 5px 15px rgba(0, 15, 58, 0.1));
