* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  max-width: 640px;
  position: relative;
  overflow: hidden;
}

@media (min-width: 640px) {
  .container {
    max-width: 660px;
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: 900px) {
  .container {
    max-width: 900px;
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1100px;
    padding-right: 30px;
    padding-left: 30px;
  }
}

.container__small {
  max-width: 720px;
  margin: auto;
  padding: 0 4rem;
  margin-bottom: 2rem;
}

.container--wide {
  max-width: none;
  background-color: #fdfbf7;
  border-radius: 2rem;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 15, 58, 0.1), 0px 5px 15px rgba(0, 15, 58, 0.1);
          box-shadow: 0px 3px 3px rgba(0, 15, 58, 0.1), 0px 5px 15px rgba(0, 15, 58, 0.1);
  padding-top: 3rem;
}

@media (min-width: 640px) {
  .container--wide {
    background-color: #fdfbf7;
    margin: 2rem;
    margin-top: 0;
  }
}

.container--fullpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* 
--- base styling ---
*/
html {
  background-color: #e8f6ff;
}

body {
  color: #494949;
  font-family: "quicksand", serif;
  font-size: 0.8rem;
  font-weight: 400;
}

h1 {
  color: #e47b90;
  font-weight: normal;
}

button {
  border: none;
  background: none;
  padding: 0.5rem;
  font-weight: 700;
}

button:hover {
  cursor: pointer;
}

a {
  color: #e47b90;
  font-weight: 700;
  text-decoration: none;
}

p {
  line-height: 1.5rem;
}

.navBar {
  font-family: "quicksand";
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform ease 400ms;
  transition: -webkit-transform ease 400ms;
  transition: transform ease 400ms;
  transition: transform ease 400ms, -webkit-transform ease 400ms;
  overflow-y: hidden;
  z-index: 2;
}

@media (min-width: 640px) {
  .navBar {
    overflow: visible;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    position: relative;
    height: 50px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.nav--active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  position: fixed;
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fdfbf7;
  height: 100vh;
  z-index: 1;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 2rem 0;
}

.header__links :last-of-type {
  padding-bottom: 8rem;
}

@media (min-width: 640px) {
  .header__links {
    overflow: visible;
    padding-top: 0;
    height: auto;
    background: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: auto;
  }
}

.header__link--anchor {
  height: 50px;
  text-align: center;
  -ms-grid-column-align: center;
      justify-self: center;
  color: #e47b90;
  font-family: "quicksand";
  font-size: 14px;
  margin: 0.8rem auto;
}

@media (min-width: 640px) {
  .header__link--anchor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    height: 50px;
    width: 75px;
  }
}

@media (min-width: 900px) {
  .header__link--anchor {
    height: 50px;
    width: 100px;
  }
}

@media (min-width: 1280px) {
  .header__link--anchor {
    width: 120px;
    font-size: 16px;
  }
}

.header__link--mobileOnly {
  display: block;
}

@media (min-width: 640px) {
  .header__link--mobileOnly {
    display: none;
  }
}

.header__logo {
  display: none;
  width: 100px;
  border-radius: 0 0 100px 100px;
  background-color: #f9d7de;
}

@media (min-width: 640px) {
  .header__logo {
    display: block;
  }
}

.header__logo:hover {
  cursor: pointer;
}

.mobile__logo--container {
  position: absolute;
  width: 100%;
}

.mobile__logo {
  display: block;
  position: relative;
  width: 100px;
  border-radius: 0 0 100px 100px;
  background-color: #f9d7de;
  margin: auto;
}

@media (min-width: 640px) {
  .mobile__logo {
    display: none;
  }
}

.header__CTA {
  font-family: "quicksand";
  border-radius: 0 0 8px 8px;
  background-color: #e47b90;
  color: white;
  -webkit-box-shadow: 0px 3px 3px rgba(206, 105, 126, 0.2), 0px 5px 15px rgba(184, 44, 73, 0.2);
          box-shadow: 0px 3px 3px rgba(206, 105, 126, 0.2), 0px 5px 15px rgba(184, 44, 73, 0.2);
  padding: 0.8rem 1rem;
  -webkit-transition: padding ease-out 200ms;
  transition: padding ease-out 200ms;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  display: none;
}

@media (min-width: 640px) {
  .header__CTA {
    display: block;
  }
}

@media (min-width: 1280px) {
  .header__CTA {
    font-size: 16px;
    border-radius: 0 0 11px 11px;
  }
}

.header__CTA:hover {
  padding: 1rem 1rem;
}

@media (min-width: 1280px) {
  .header__CTA:hover {
    font-size: 16px;
  }
}

.header__cake {
  z-index: 10;
  position: absolute;
  width: 50px;
  height: 50px;
  padding: 10px;
  right: 10px;
}

@media (min-width: 640px) {
  .header__cake {
    display: none;
  }
}

.header__cake:hover {
  cursor: pointer;
}

.header__cake--layer {
  width: 20px;
  height: 3px;
  border-radius: 2px;
  margin: 4px auto;
  background-color: #e47b90;
  -webkit-transition: opacity ease 200ms;
  transition: opacity ease 200ms;
  -webkit-transition: -webkit-transform ease 200ms;
  transition: -webkit-transform ease 200ms;
  transition: transform ease 200ms;
  transition: transform ease 200ms, -webkit-transform ease 200ms;
}

.header__cake--dot {
  width: 3px;
  height: 3px;
  border-radius: 2px;
  margin: 4px auto;
  background-color: #e47b90;
  right: 10px;
  -webkit-transition: opacity ease 200ms;
  transition: opacity ease 200ms;
}

.toggle .header__cake--dot {
  opacity: 0;
}

.toggle .header__cake--layer1 {
  -webkit-transform: rotate(-45deg) translate(-4px, 6px);
          transform: rotate(-45deg) translate(-4px, 6px);
}

.toggle .header__cake--layer2 {
  opacity: 0;
}

.toggle .header__cake--layer3 {
  -webkit-transform: rotate(45deg) translate(-4px, -6px);
          transform: rotate(45deg) translate(-4px, -6px);
}

.mobileOnly {
  display: block;
}

@media (min-width: 640px) {
  .mobileOnly {
    display: none;
  }
}

.mobileHidden {
  display: none;
}

@media (min-width: 640px) {
  .mobileHidden {
    display: block;
  }
}

.CTA {
  background: #df7f93;
  color: white;
  border-radius: 40px;
  padding: 0.6rem 2.5rem;
  -webkit-box-shadow: 0px 3px 3px rgba(206, 105, 126, 0.2), 0px 5px 15px rgba(184, 44, 73, 0.2);
          box-shadow: 0px 3px 3px rgba(206, 105, 126, 0.2), 0px 5px 15px rgba(184, 44, 73, 0.2);
  -webkit-transition: bottom ease-out 200ms;
  transition: bottom ease-out 200ms;
  -webkit-transition: -webkit-box-shadow ease-out 200ms;
  transition: -webkit-box-shadow ease-out 200ms;
  transition: box-shadow ease-out 200ms;
  transition: box-shadow ease-out 200ms, -webkit-box-shadow ease-out 200ms;
}

@media (min-width: 640px) {
  .CTA {
    display: none;
  }
}

.CTA:hover {
  bottom: 1px;
  -webkit-box-shadow: 0px 3px 3px rgba(206, 105, 126, 0.4), 0px 5px 15px rgba(184, 44, 73, 0.3);
          box-shadow: 0px 3px 3px rgba(206, 105, 126, 0.4), 0px 5px 15px rgba(184, 44, 73, 0.3);
}

.heading {
  font-family: "coiny", sans-serif;
  color: #e47b90;
}

.title {
  font-family: "coiny", sans-serif;
  font-size: 3rem;
  line-height: 3rem;
}

@media (min-width: 640px) {
  .title {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (min-width: 1280px) {
  .title {
    font-size: 5rem;
    line-height: 5rem;
  }
}

.subtitle {
  margin-bottom: 2rem;
  color: #e47b90;
  margin-top: 80px;
}

@media (min-width: 640px) {
  .subtitle {
    margin-top: 0;
    font-weight: 300;
    margin-bottom: 1rem;
  }
}

@media (min-width: 1280px) {
  .subtitle {
    font-size: 1rem;
  }
}

.landingPage__main {
  padding: 1rem;
  text-align: center;
  position: relative;
}

@media (min-width: 640px) {
  .landingPage__main {
    padding: 0rem;
    width: 100%;
    margin-top: 50px;
  }
}

.landingPage__feature {
  display: none;
  margin-top: 4rem;
  padding-top: 1rem;
}

@media (min-width: 640px) {
  .landingPage__feature {
    padding: 1rem;
    padding-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 900px) {
  .landingPage__feature {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 1rem;
  }
}

.landingPage__feature--image {
  min-width: 0;
  min-height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landingPage__feature--text {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  max-width: 900px;
}

.landingPage__feature--text p {
  margin: 1.5rem;
}

.landingPage__feature--text p:last-of-type {
  margin-bottom: 2rem;
}

.landingPage__feature--text h3 {
  color: #e47b90;
  margin: 1.5rem;
  margin-top: 2rem;
}

.landingPage__mobileLinksWrapper {
  border-radius: 2rem;
  background-color: #fdfbf7;
  margin: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media (min-width: 640px) {
  .landingPage__mobileLinksWrapper {
    display: none;
  }
}

.landingPage__mobileLinks {
  display: block;
  margin-bottom: 3rem;
  font-size: 1rem;
}

@media (max-height: 640px) {
  .landingPage__mobileLinks {
    margin-bottom: 2rem;
  }
}

@media (min-width: 640px) {
  .landingPage__mobileLinks {
    display: none;
  }
}

.background {
  position: relative;
}

.landing__background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  overflow-y: visible;
  z-index: -1;
}

.no-webpalpha .landing__background--classic {
  background-image: url(../images/Cakes/large/png/cake-classic-01--large.png);
}

.webpalpha .landing__background--classic {
  background-image: url(../images/Cakes/large/webp/cake-classic-01--large.webp);
}

.landing__background--classic {
  background-position: left -100px top 450px;
  background-size: 200px;
}

@media (min-width: 640px) {
  .landing__background--classic {
    background-size: 400px;
    background-position: -200px 300px;
    display: block;
  }
}

@media (min-width: 1280px) {
  .landing__background--classic {
    background-size: 500px;
    background-position: -200px 300px;
  }
}

.no-webpalpha .landing__background--naked {
  background-image: url(../images/Cakes/large/png/cake-naked-01--large.png);
}

.webpalpha .landing__background--naked {
  background-image: url(../images/Cakes/large/webp/cake-naked-01--large.webp);
}

.landing__background--naked {
  background-position: right -120px top 150px;
  background-size: 200px;
}

@media (min-width: 640px) {
  .landing__background--naked {
    background-position: right -200px top 50px;
    background-size: 400px;
    display: block;
  }
}

@media (min-width: 1280px) {
  .landing__background--naked {
    background-size: 500px;
    background-position: right -300px top 60px;
  }
}

#largeClassicCake {
  position: absolute;
  left: -750px;
  top: 200px;
}

#largeNakedCake {
  position: absolute;
  right: -750px;
}

.pageTitle {
  font-family: "coiny", sans-serif;
  text-transform: uppercase;
  margin: 3rem auto 1rem auto;
  font-size: 3rem;
}

@media (min-width: 1280px) {
  .pageTitle {
    font-size: 4rem;
  }
}

.FAQtitle {
  margin-bottom: 4rem;
}

.options {
  padding: 0 50px;
  max-width: 700px;
}

@media (min-width: 640px) {
  .options {
    padding: 0 50px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.options__header {
  font-family: "coiny", sans-serif;
  color: #e47b90;
  font-size: 2rem;
  text-transform: uppercase;
  margin: 1rem 0;
  word-wrap: break-word;
  width: 100%;
}

@media (min-width: 1280px) {
  .options__header {
    font-size: 3rem;
  }
}

.options__header--main {
  margin-left: 1rem;
}

@media (min-width: 640px) {
  .options__header--main {
    margin-left: 0;
  }
}

.options__header--subheader {
  font-size: 1.5rem;
}

.options__list {
  list-style-position: inside;
  line-height: 2;
}

.options__list > li {
  margin-bottom: 0.5rem;
}

.options__list--sublist {
  margin-left: 2rem;
}

.options__large {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 640px) {
  .options__large {
    margin: 0 -20px;
  }
}

@media (min-width: 900px) {
  .options__large {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.options__large > div {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 0 20px;
}

.options__list--popular {
  margin: 2rem 0;
  padding: 1.5rem;
  border: none;
}

.options__list--popular h3 {
  margin-top: 0.5rem;
}

@media (min-width: 640px) {
  .options__list--popular {
    padding: 1rem 50px;
    border-radius: 16px;
    border: #e47b90 solid 4px;
    margin: 2.5rem -50px;
    -webkit-box-shadow: 0px 3px 3px rgba(206, 105, 126, 0.2), 0px 5px 15px rgba(184, 44, 73, 0.2);
            box-shadow: 0px 3px 3px rgba(206, 105, 126, 0.2), 0px 5px 15px rgba(184, 44, 73, 0.2);
  }
}

@media (min-width: 1280px) {
  .container__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 4rem 2rem;
  background-color: #fdfbf7;
  overflow: visible;
  border-radius: 2rem;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 15, 58, 0.1), 0px 5px 15px rgba(0, 15, 58, 0.1);
          box-shadow: 0px 3px 3px rgba(0, 15, 58, 0.1), 0px 5px 15px rgba(0, 15, 58, 0.1);
}

@media (min-width: 640px) {
  .card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 4rem auto;
    max-width: 600px;
  }
}

@media (min-width: 900px) {
  .card {
    margin: 3rem auto;
  }
}

.card--info {
  padding: 2rem 2rem;
}

.card--info p {
  margin-bottom: 1rem;
}

.card--info ul {
  margin-bottom: 1rem;
}

.card--info li {
  margin-left: 2rem;
  margin-bottom: 0.5rem;
}

@media (min-width: 640px) {
  .card--info {
    padding: 2rem 4rem;
  }
}

.card--info .no-margin {
  margin-bottom: 0rem;
}

.card--info--justify P {
  text-align: justify;
}

.card--bordered {
  padding: 1rem;
  overflow: none;
}

.card__section--image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  position: relative;
  bottom: 4rem;
}

@media (min-width: 640px) {
  .card__section--image {
    bottom: 3rem;
  }
}

.card__section--blockImage {
  bottom: 0;
  margin: 2rem;
  margin-bottom: 4rem;
}

@media (min-width: 640px) {
  .card__section--blockImage {
    margin: 0;
    width: 60%;
    min-height: 300px;
    min-width: 300px;
  }
}

.card__image {
  max-width: 100%;
  margin: auto;
  max-width: 300px;
  max-height: 300px;
}

@media (max-width: 400px) {
  .card__image {
    max-width: 100%;
  }
}

.card__image--feature {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 2rem;
  max-width: none;
}

picture img {
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
  width: 100%;
  border-radius: 1.4rem;
}

.card__blockImage {
  width: 80%;
  border-radius: 1rem;
}

.card__info {
  margin-top: -2rem;
  margin-bottom: 2rem;
  text-align: center;
  padding: 0 2rem;
}

@media (min-width: 640px) {
  .card__info {
    text-align: start;
    padding: 1rem 3rem;
    padding-left: 0;
    margin: auto;
    width: 350px;
  }
}

.card__info--header {
  font-size: 1.5rem;
  line-height: 2rem;
  text-transform: uppercase;
}

.card__info--subheader {
  font-size: 0.8rem;
  margin: 10px 0;
}

.CTA__footer {
  display: block;
  width: 140px;
  margin: 4rem auto;
  text-align: center;
}

.card__cupcake {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__section--cupcakeTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding-bottom: 1rem;
  text-align: center;
}

@media (min-width: 640px) {
  .card__section--cupcakeTop {
    text-align: start;
    padding-bottom: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.card__image--cupcake {
  max-width: 250px;
  margin-left: auto;
  margin-bottom: 3rem;
  border: solid #fdfbf7;
}

@media (min-width: 640px) {
  .card__image--cupcake {
    margin-left: 2rem;
    max-width: 200px;
    margin-bottom: 0rem;
  }
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
}

input {
  margin-bottom: 1rem;
  margin-top: 10px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 2rem;
  border-radius: 10px;
  padding: 0 10px;
}

textarea {
  height: 120px;
  margin-bottom: 1rem;
  border: none;
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;
}

.inputButton {
  background-color: #e47b90;
  font-family: "quicksand";
  font-weight: bold;
  color: #fdfbf7;
  font-size: 0.8rem;
}

.FAQ li {
  margin-top: 1.5rem;
  font-weight: bold;
  color: #e47b90;
}

.description--intro {
  text-align: justify;
}

/* Footer */
.footer {
  padding: 0 4rem 1rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 6rem;
}

@media (min-width: 640px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer__wrapper {
  background-color: #fdfbf7;
  border-radius: 2rem 2rem 0 0;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 15, 58, 0.1), 0px 5px 15px rgba(0, 15, 58, 0.1);
          box-shadow: 0px 3px 3px rgba(0, 15, 58, 0.1), 0px 5px 15px rgba(0, 15, 58, 0.1);
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__links a {
  margin-top: 1rem;
  color: #494949;
  font-family: "quicksand", serif;
  font-size: 0.8rem;
  font-weight: 400;
}

.footer__links svg {
  margin-right: 1rem;
  height: 24px;
  vertical-align: middle;
  display: inline-block;
}

.footer__links--social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__links--social a {
  width: 120px;
}

@media (min-width: 900px) {
  .footer__links--social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer__links--business {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

@media (min-width: 900px) {
  .footer__links--business a {
    text-align: center;
  }
}

.footer__links--small {
  font-size: 0.6rem !important;
}

.footer__links--collab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__links--collab a {
  background-color: #ffd6df;
  color: #e47b90;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 20px;
}

.no-margin {
  margin: 0rem;
}

.mb-neg {
  margin-bottom: -4rem;
}

@media (min-width: 900px) {
  .mb-neg {
    margin-bottom: -2rem;
  }
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.padding-1 {
  padding: 3rem;
}

.desery--cups {
  margin: 2rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.desery--cups ul {
  margin: 0;
  line-height: 2;
}

.desery--cups li {
  margin-bottom: 0.5rem;
  list-style-position: inside;
}

.desery--cups--hidden {
  display: none;
}

.desery--cups--fade {
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfbf700), to(#fdfbf7));
  background: linear-gradient(#fdfbf700, #fdfbf7);
  width: 104%;
  height: 100%;
  position: absolute;
  right: -2px;
  -webkit-transition: height;
  transition: height;
}

.relative {
  position: relative;
}

#desery__button {
  background-color: #ffd6df;
  color: #e47b90;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  max-width: 100px;
  margin-top: 2rem;
  margin-bottom: 0rem;
}

.swiper-container {
  max-width: 500px;
  height: 300px;
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper__image--border {
  border: #fdfbf7 10px solid;
}

.swiper--color {
  color: #e47b90 !important;
}
/*# sourceMappingURL=style.css.map */